{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}New Monitor{% endblock title %}

{% block content %}
    <div class="container d-flex justify-content-center">
        <div class="col-12 col-md-6 col-lg-5 mt-4">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="mb-0">New Monitor</h3>
                <div>
                    <a href="{% url 'monitors:dashboard' %}" class="btn btn-sm btn-secondary"><i class="bi bi-arrow-left"></i> Back</a>
                </div>
            </div>

            <hr class="border-dark">

            <form action="{% url 'monitors:new_monitor' %}" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary w-100 mt-2">Save</button>
            </form>
        </div>
    </div>

    <script>
        const intervalSelect = document.getElementById('id_interval');
        const customInput = document.getElementById('id_custom_interval');

        intervalSelect.addEventListener('change', () => {
            if (intervalSelect.value === 'custom') {
                customInput.style.display = 'block';
            } else {
                customInput.style.display = 'none';
            }
        });
    </script>
{% endblock content %}
