{% extends "base.html" %}

{% block title %}All CronJobs{% endblock title %}

{% block content %}
    <meta http-equiv="refresh" content="5">

    <div class="container mt-5">
        <h3 class="mt-5 text-center">All Cronjobs</h3>
        <hr class="border-dark">

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success text-center">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr class="text-center">
                    <th>Target Host</th>
                    <th>Avg Ping (ms)</th>
                    <th>Min Ping (ms)</th>
                    <th>Max Ping (ms)</th>
                    <th>Started</th>
                    <th>Last Checked</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for job in cronjobs %}
                    <tr class="text-center">
                        <td>{{ job.target }}</td>
                        <td>{{ job.avg_rtt_ms }}</td>
                        <td>{{ job.min_rtt_ms }}</td>
                        <td>{{ job.max_rtt_ms }}</td>
                        <td>{{ job.created_at|date:"M. d, Y, h:i A" }}</td>
                        <td>{{ job.last_pinged_at|date:"M. d, Y, h:i A" }}</td>
                        <td>
                            <form action="{% url 'cronly:delete_cronjob' job.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this cronjob?');">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="7" class="text-center">No Cronjobs found.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
