{% extends "core/base.html" %}

{% block title %}All CronJobs{% endblock title %}

{% block content %}
    <meta http-equiv="refresh" content="5">

    <div class="container mt-5">
        <h3 class="mt-5 text-center">All CronJobs</h3>
        <hr class="border-dark">

        <table class="table table-bordered table-striped">
            <thead class="table-dark">
            <tr class="text-center">
                <th>Target</th>
                <th>Average Ping (ms)</th>
                <th>Minimum Ping (ms)</th>
                <th>Maximum Ping (ms)</th>
                <th>Date</th>
            </tr>
            </thead>

            <tbody>
                {% for job in cronjobs %}
                    <tr class="text-center">
                        <td>{{ job.target }}</td>
                        <td>{{ job.avg_rtt_ms }}</td>
                        <td>{{ job.min_rtt_ms }}</td>
                        <td>{{ job.max_rtt_ms }}</td>
                        <td>{{ job.created_at|date:"M. d, Y, h:i A" }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">No CronJobs found.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
