{% extends "cronly/base.html" %}

{% block title %}All CronJobs{% endblock title %}

{% block content %}
    <meta http-equiv="refresh" content="5">

    <div class="container mt-5">
        <h3 class="mt-5 text-center">All Cronjobs</h3>
        <hr class="border-dark">

        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr class="text-center">
                    <th>Target Host</th>
                    <th>Avg Ping (ms)</th>
                    <th>Min Ping (ms)</th>
                    <th>Max Ping (ms)</th>
                    <th>Started</th>
                    <th>Last Checked</th>
                </tr>
            </thead>

            <tbody>
                {% for job in cronjobs %}
                    <tr class="text-center">
                        <td>{{ job.target }}</td>
                        <td>{{ job.avg_rtt_ms }}</td>
                        <td>{{ job.min_rtt_ms }}</td>
                        <td>{{ job.max_rtt_ms }}</td>
                        <td>{{ job.created_at|date:"M. d, Y, h:i A" }}</td>
                        <td>{{ job.last_pinged_at|date:"M. d, Y, h:i A" }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6" class="text-center">No Cronjobs found.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
